<div class="container">
  <div class="page-header">
    <h1>Edit Project</h1>
    <h5><span class = "label label-danger">Complete the information to update this post </span></h5>
  </div>
</div>
<div class="container">
  <%= render 'form' %>
  <%= link_to 'Show', @project, class: 'btn btn-primary btn-sm' %>
  <%= link_to 'Back', root_path, class: 'btn btn-primary btn-sm' %>
</div>