<body style="background-color:#B2EBF2">
<div class="container">
    <div class="page-header">
        <h1>New Project</h1>
        <h4><span class="label label-primary">Create a new project for the portfolio.</span></h4>
    </div>
</div>
<div class="container">
    <%= render 'form', project: @project %>
    <%= link_to 'Back', projects_path, class: "btn btn-primary btn-sm" %>
</div>
</body>


